* {
    padding: 0px;
    margin: 0px;
}

:root {
    --cor-primaria: #ED7839;
    --cor-secundaria: #FDF1EB;
    --cor-lineMenu: #E7E7E7;
    --cor-degrade: linear-gradient(180deg, #FFB455 0%, #ED7839 100%);


}





/* HEADER */


.heading {
    background-color: var(--cor-secundaria);
    float: right;
    height: 68px;
    width: 85%;
    left: 0px;
    top: 0px;
    border-radius: 0px;


}

header>div>p {
    font-size: 0.8em;
    padding: 5px 10px;
    font-family: sans-serif;
    color: #725C5C;
}

header>div>h1 {

    font-size: 1.2em;
    padding: 0px 10px;
    font-family: sans-serif;
    color: #725C5C;

}

.divh1Principal {
    float: left;
}

.containerMenuLingua {
    float: right;
    padding: 20px;
}

.menulingua {
    padding: 8px;
    text-align: center;
    font-size: 13px;
    border: 1px solid black;
    display: inline;
    border-radius: 3px;

}

.hotmail {
    display: inline;
    float: right;
    padding: 0px 10px;
    text-align: right;

}

.hotmailBemVindo {
    display: inline-block;
    font-size: 12px;
    padding: 0px 10px;
}

.fotoPerfil {
    height: 43px;
    width: 43px;
    float: right;

}


/* MENU */



.slaca {
    background: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);
    display: inline-block;
    color: white;
    font-family: sans-serif;
    height: 68px;
    width: 100%;
    left: 0px;
    top: 0px;
    border-radius: 0px;
    text-align: center;
}

.slacaH1 {
    text-align: center;
    padding: 15px 0px;
}

.imagemSlaca {
    height: 258px;
    width: 100%;
    left: 0px;
    top: 0px;
    border-radius: 0px;
}

.divMenuSlaca {
    
    width: 100%;
    left: 0px;
    margin-top: 0px;
    border-radius: 0px;


}

.menuUl {
    list-style: none;

}

.menuP {
    text-align: center;
    font: 1em;
    padding: 10px;
    font-family: sans-serif;
    border-bottom: 1px solid var(--cor-lineMenu);

}

#meuPTrabalhos {
    background-image: linear-gradient(to right, #EE7A3A 3%, var(--cor-secundaria) 5%);
}

.menuP:hover {
    background-color: var(--cor-secundaria);
}

.menuSlacaShadow {
    display: inline-block;
    width: 100%;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.253);
    height: 100%;
}

.citarEsseTrab {
    color: var(--cor-primaria);
    font-family: sans-serif;
    font-weight: 600;
    padding: 10px;
}

.imagemVideo {
    height: 439px;
    width: 784px;
    left: 2px;
    top: 73px;
    border-radius: 5px;
    margin: auto;
    display: block;
}
.secMenu {
    width: 15%;
    height: 100%;
    float: left;
}
/* MENU */

/* Conteudo */

.classeMain{
    width: auto;
}
.conteudo {
    float: right;
    height: 100%;
    width: 85%;
    left: 0px;
    top: 0px;

}

.containerConteudo {
    float: left;
    width: 70%;
}

.conteudoH1 {
    color: var(--cor-primaria);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.281);
    font-size: 1.5em;
    font-family: sans-serif;
    padding: 5px;
}

.logo {
    height: 15px;
    width: 15px;
    left: 1015px;
}

.doiLogoButton {
    height: 31px;
    width: 43px;
    top: 0px;
    border-radius: 4px;
    background-color: var(--cor-primaria);

}

.buttonEstrela {
    height: 31px;
    width: 43px;
    top: 0px;
    border-radius: 4px;
    background-color: var(--cor-primaria);
}

.buttonDownload {
    height: 31px;
    width: 120px;
    left: 842px;
    top: 0px;
    border-radius: 4px;
    background-color: var(--cor-primaria);
    color: white;
    font-family: sans-serif;

}

/* Resumo/discussoes*/
.resumo,
.discussoes {
    background-color: var(--cor-secundaria);
    display: inline-block;
    height: 30px;
    width: 95%;
    left: 816px;
    top: 73px;
    padding: 10px;
    margin: 10px 10px 0px 10px;
    border-radius: 10px 10px 0px 0px;
    font-family: sans-serif;

}

.textResumo,
.textDiscussoes {
    border: 1px solid var(--cor-lineMenu);
    width: 95%;
    left: 816px;
    top: 73px;
    padding: 9px;
    margin: 0px 10px 0px 10px;

}
.textDiscussoes {
    height: 500px;
}
.textDiscussoes {
    overflow-y: scroll;
}

.textDiscussoes::-webkit-scrollbar {
  width: 12px;
  border: 1px solid black;

}

.textDiscussoes::-webkit-scrollbar-thumb {
    background-color: var(--cor-primaria);
    border-radius: 6px;
}

.p {
    font-family: sans-serif;
    text-align: left;
    text-indent: 1.5em;
    padding: 10px;

}

#mais {
    display: none;
}

#btnLeiaMais {
    background-color: var(--cor-primaria);
    border: 3px solid var(--cor-lineMenu);
    padding: 3px;
    border-radius: 3px;
    color: white;

}

#btnLeiaMais:hover {
    background-color: #c26939;
}

.h3Discussoes {
    color: var(--cor-primaria);
    font-family: sans-serif;
    text-align: center;

}

.imgDiscussoes1 {
    margin-left: 40%;
}

.imgDiscussoes1,
.imgDiscussoes2,
.imgDiscussoes3 {
    margin-right: 20px;
}

#lampada {
    border-radius: 40px;
    width: 40px;
    height: 40px;
}

.buttonTopico {
    display: block;
    margin: auto;
    padding: 6px;
    color: white;
    background-color: var(--cor-primaria);
    border: 1px solid var(--cor-lineMenu);
    border-radius: 5px;
}

.buttonTopico:hover {
    background-color: #c26939;
}

.linha {
    padding: 10px;
    border-bottom: 1px solid var(--cor-lineMenu);
}

.enviadoNovoTopico {
    display: none;
}

.enviarTopico {
    display: none;
}

.pEnviarTopico {
    font-family: sans-serif;
    font-size: 13px;
    text-align: center;
    color: rgb(82, 82, 82);

}

#assuntos,
#conteudo {
    width: 95%;
    height: 30px;
    margin: 10px 0px 0px 0px;

}

#conteudo {
    height: 113px;
}

.labelAssuntosConteudo {
    color: var(--cor-primaria);
    font-family: sans-serif;
    font-weight: 600;
    font-size: 1.2em;
    padding: 10px;
}

.buttonEnviarTopico {
    height: 31px;
    width: 205.10357666015625px;
    left: 818.40478515625px;
    top: 214px;
    border-radius: 5px 0px 0px 5px;
    border: 1px solid black;
    background-color: var(--cor-primaria);
    color: white;
    float: right;
}

.buttonEnviarTopico1 {
    display: block;
    height: 31px;
    width: 205.10357666015625px;
    top: 214px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: var(--cor-primaria);
    color: white;
    margin: auto;

}

.imgCard {
    width: 100%;
}

.testeButtonTopico {
    height: 31px;
    width: 95%;
    left: -0.466796875px;
    top: 214px;
    border-radius: 1px;
    border: 1px solid black;
    background-color: #EAF1F2;


}

.imgShape {
    padding: 10px;
}

.h4NovoTopico {
    text-align: center;
    font-family: sans-serif;
    color: var(--cor-primaria);
}

.p1NovoTopico {
    font-size: .9em;
    text-align: center;
    color: rgb(80, 80, 80);
}

.p2NovoTopico {
    text-align: center;
    font-family: sans-serif;
    font-size: .9em;
    color: var(--cor-primaria);
    text-decoration: underline;
}

.h4NovoTopico,
.p1NovoTopico,
.p2NovoTopico {
    padding: 10px;
}

/* Resumo/discussoes*/

/*COMENTARIOS*/

.comentarios1,
.comentarios2,
.comentarios3,
.comentarios4,
.comentarios5, .comentarios6{
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.26);
    margin: 10px;
}

.p1Comentario1 {
    font-family: sans-serif;
    color: var(--cor-primaria);
    font-weight: 600;
    font-size: 15px;
    padding: 5px 0px 0px 5px;
}

.p2Comentario1 {
    font-family: sans-serif;
    font-size: 12px;
    padding: 0px 0px 5px 5px;
    display: inline-block
}

.p3Comentario1 {
    font-family: sans-serif;
    font-size: 15px;
    color: rgb(83, 83, 83);
    text-indent: 1.5em;
    padding: 5px;
}
.cardFooterComentario{
    padding: 0px 10px;
}

.buttonLerMaisComentarios{
    padding: 5px;
    color: white;
    background-color: var(--cor-primaria);
    border-radius: 5px;
    display: block;
    margin: auto;
}.sumirComentario{
    display: none;
}


#coautorEautor1, #coautorEautor2, #coautorEautor3{
    background-color: #ececec;
}
.autorEcoautorIMG2,.autorEcoautorIMG1, .autorEcoautorIMG3 {
    padding: 0px;
    float: right;
   
}
.autorEcoautorIMG1{
    padding: 5px;
    width: 50px;
}
.autorEcoautorIMG3{
    padding: 5px;
    width: 30px;
}
.autorEcoautorIMG2{
    padding: 0px;
    width: 15px;

}


/*COMENTARIOS*/
/* Conteudo */
/* Detalhes*/

.h2Aside {
    background-color: var(--cor-secundaria);
    display: inline-block;
    height: 30px;
    width: 198px;
    left: 816px;
    top: 73px;
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
    font-family: sans-serif;


}

.conteudoDetalhes {
    border: 1px solid var(--cor-lineMenu);
    display: inline-block;
    width: 200px;
    padding: 8px;
    height: 364px;
    margin-right: 50px;
    overflow-y: scroll;
}

.conteudoDetalhes::-webkit-scrollbar {
    width: 5px;
    border: 1px solid var(--cor-lineMenua);
}

.conteudoDetalhes::-webkit-scrollbar-thumb {
    background-color: var(--cor-lineMenu);
    border-radius: 3px;

}

.pTresPrimeiros {
    font-size: 13px;
    font-family: sans-serif;
}

.autores {
    font-size: 14px;
    font-family: sans-serif;
    color: #777777;
}

.univesidades {
    font-size: 14px;
    font-family: sans-serif;
    color: #adadad;
}

.aBiografia {
    text-decoration: none;

}

.autores:hover {
    color: #ED7839;
}

/* Detalhes*/
/*FOOTER*/


.footer2{
   display: block;
    height: 70%;
    padding: 10px;
   
}

footer{
    float: left;
}

/*FOOTER*/
/* Responsividade */



@media (max-width: 1366px) {

    .conteudoH1 {
        color: var(--cor-primaria);
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.281);
        font-size: 1.2em;
    }

    .imagemVideo {
        width: 700px;
        height: 400px;
    }
    .imagemSlaca {
        height: 170px;

    }
}

@media (max-width: 1280px) {
    .imagemSlaca {
        height: 150px;

    }

    .imagemVideo {
        width: 500px;
        height: 300px;
    }
    
    .centro {
        width: 960px;
        margin: auto;
    }

    header>div>p {
        font-size: 0.6em;
        padding: 0px 10px;
    }

    header>div>h1 {
        font-size: 0.8em;
        padding: 0px 10px;
    }

    .containerMenuLingua {
        width: 40%;
        padding: 15px 0px;
    }

    .fotoPerfil {
        padding: 0px 5px;
    }

    .menulingua {
        font-size: 10px;
    }

    .hotmail {
        padding: 0px;
        margin: 0px;
    }

    .divh1Principal {
        width: 60%;
        padding: 10px 0px;

    }

    .h2Aside {
        background-color: var(--cor-secundaria);
        display: inline-block;
        height: 30px;
        width: 200px;
        left: 816px;
        top: 73px;
        padding: 10px;
        border-radius: 10px 10px 0px 0px;

    }

    .conteudoDetalhes {
        border: 1px solid black;
        display: inline-block;
        width: 200px;
        padding: 8px;
        height: 364px;
        margin-right: 0px;
    }

    .resumo,
    .textResumo {
        width: 90%;

    }

    .imgDiscussoes1 {
        margin-left: 34%;
    }
    footer{
        width: 500px;
    }
    .footer2{
        width: 900px;
    }
}